<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div layout:fragment="wrapper">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Manage Role</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">


                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>CHAIRED </strong>
                        </div>

                        <form th:action="@{/answerpage/chairedAcceptAnswer}" th:object="${answerChairedQuestionRequestModel}" method="post" enctype="multipart/form-data" class="form-horizontal" id="create-org-frm">
                            <div th:replace="fragments/messageAlert :: alert(type=${type}, message=${message})"></div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label><strong>Department</strong> <span class="text-danger">*</span></label>
                                    <select class="form-control" id="departmentId" name="departmentId" required="required"  >
                                        <option value=""> please select department </option>
                                        <option th:each="DepartmentId:${departmentList}" th:value="${DepartmentId.dptId}"
                                                th:text="${DepartmentId.dptName}"></option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label><strong>User</strong> <span class="text-danger">*</span></label>
                                    <select class="form-control" id="userId"  name="userId" required="required"  >
                                        <option value=""> please select user </option>
                                        <option  th:each="user:${userList}"   th:value="${user.usrId}"
                                                 th:text="${user.usrFirstName}" ></option>
                                    </select>

                                </div>
                            </div>


                            <div class="col-lg-auto">
                                <div class=" form-group" >
                                    <label style="font-weight: bold; padding: 10px;">Core Competency</label>
                                    <div th:each="qst :${questionList}"   th:if="${qst.typeLookLp} == CHAIRED and ${qst.questionType} == Core-Competency">
                                        <span class="form-control"  style="margin-bottom: 10px; border: 0px"  name="question" th:text="${qst.question}"  required="required"> </span>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <select select class="form-control" name="" style="margin-top: 10px; " required="required"   th:field="*{coreCompetence}" >
                                                    <option value=""> please select </option>
                                                    <option th:value="1">በጣም ዝቅተኛ</option>
                                                    <option th:value="2">ዝቅተኛ</option>
                                                    <option th:value="3">መካከለኛ</option>
                                                    <option th:value="4">ከፍተኛ</option>
                                                    <option th:value="5">በጣም ከፍተኛ</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-auto">
                                <div class=" form-group" >
                                    <label style="font-weight: bold; padding: 10px;">Professional-Competence</label>
                                    <div th:each="qst :${questionList}"   th:if="${qst.typeLookLp} == CHAIRED and ${qst.questionType} ==Professional-Competence">
                                        <span class="form-control"  style="margin-bottom: 10px; border: 0px"  name="question" th:text="${qst.question}"  required="required"> </span>

                                        <div class="row">
                                            <div class="col-lg-2">
                                                <select select class="form-control" name="" style="margin-top: 10px;"  required="required" th:field="*{professionalCompetence}" >
                                                    <option value=""> please select </option>
                                                    <option  th:value="1">በጣም ዝቅተኛ</option>
                                                    <option th:value="2">ዝቅተኛ</option>
                                                    <option th:value="3">መካከለኛ</option>
                                                    <option th:value="4">ከፍተኛ</option>
                                                    <option th:value="5">በጣም ከፍተኛ</option>

                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-auto">
                                <div class=" form-group" >
                                    <label style="font-weight: bold; padding: 10px;">Ethical-Competence</label>
                                    <div th:each="qst :${questionList}"   th:if="${qst.typeLookLp} == CHAIRED and ${qst.questionType} ==Ethical-Competence">
                                        <span class="form-control"  style="margin-bottom: 10px; border: 0px"  name="question" th:text="${qst.question}"  required="required"> </span>
                                        <div class="row">

                                            <div class="col-lg-2">
                                                <select select class="form-control" name="" style="margin-top: 10px;"  required="required" th:field="*{ethicalCompetence}" >
                                                    <option value=""> please select </option>
                                                    <option th:value="1">በጣም ዝቅተኛ</option>
                                                    <option th:value="2">ዝቅተኛ</option>
                                                    <option th:value="3">መካከለኛ</option>
                                                    <option th:value="4">ከፍተኛ</option>
                                                    <option th:value="5">በጣም ከፍተኛ</option>

                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-auto">
                                <div class=" form-group" >
                                    <label style="font-weight: bold; padding: 10px;">Time-Management</label>
                                    <div th:each="qst :${questionList}"   th:if="${qst.typeLookLp} == CHAIRED and ${qst.questionType} ==Time-Management">
                                        <span class="form-control"  style="margin-bottom: 10px; border: 0px"  name="question" th:text="${qst.question}"  required="required"> </span>
                                        <div class="row">

                                            <div class="col-lg-2">
                                                <select select class="form-control" name="" style="margin-top: 10px;" required="required" th:field="*{timeManagement}" >
                                                    <option value=""> please select </option>
                                                    <option th:value="1">በጣም ዝቅተኛ</option>
                                                    <option th:value="2">ዝቅተኛ</option>
                                                    <option th:value="3">መካከለኛ</option>
                                                    <option th:value="4">ከፍተኛ</option>
                                                    <option th:value="5">በጣም ከፍተኛ</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn pull-right" >
                                <a  th:href="@{'/home'}" class="btn btn-secondary btn-sm"></i> Cancel</a>
                                <button type="submit" class="btn  btn-primary btn-sm">
                                    Save
                                </button>

                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
</div>

<div layout:fragment="footer-script">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function () {
            $('#departmentId').change(function () {
                var id = $('#departmentId option:selected').val();

                var dptName =$('#departmentId option:selected').text();
                $.ajax({
                    type: 'GET',
                    url: contextRoot + "department/getDepartmentTeachers",
                    data: {
                        'departmentId': id
                    },

                    success: function (data) {
                        // the next thing you want to do

                        // alert(JSON.stringify(data))

                        var $field = $('#userId');

                        $field.empty();
                        $field.append(new Option("please select User", "-1"));

                        $.each(data, function (id, value) {
                            $field.append('<option value=' + id + '>' + value + '</option>');

                        });
                    }
                });

            });


        });
    </script>
</div>
</body>
</html>

