<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div layout:fragment="wrapper">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Manage Role</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">


                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Question -Answer</strong>
                            <div class="row form-group">
                                <div class="col-lg-12">
                               <p>transparent teacher</p>
                                </div>
                                <div class="col-lg-1">
                                <div class="radio">
                                                            <label for="radio3" class="form-check-label ">
                                                                <input type="radio" id="radio3" name="radios" value="option3" class="form-check-input">5
                                                            </label>
                                                        </div>
                                </div>
                                    <div class="col-lg-1">
                                    <div class="radio">
                                        <label for="radio3" class="form-check-label ">
                                            <input type="radio" id="radio3" name="radios" value="option3" class="form-check-input">4
                                        </label>
                                    </div>
                                    </div>
                                    <div class="col-lg-1">
                                    <div class="radio">
                                        <label for="radio3" class="form-check-label ">
                                            <input type="radio" id="radio3" name="radios" value="option3" class="form-check-input">3
                                        </label>
                                    </div>
                                    </div>
                                    <div class="col-lg-1">
                                    <div class="radio">
                                        <label for="radio3" class="form-check-label ">
                                            <input type="radio" id="radio3" name="radios" value="option3" class="form-check-input">2
                                        </label>
                                    </div>
                                    </div>
                                <div class="col-lg-1">
                                <div class="radio">
                                        <label for="radio3" class="form-check-label ">
                                            <input type="radio" id="radio3" name="radios" value="option3" class="form-check-input">1
                                        </label>
                                    </div>
                                    </div>


                            </div>

                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <p>transparent teacher</p>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-check-inline">
                                        <label for="radio4" class="form-check-label ">
                                            <input type="radio" id="radio4" name="radio4" value="option3" class="form-check-input">5
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-check-inline">
                                        <label for="radio4" class="form-check-label ">
                                            <input type="radio" id="radio3" name="radio4" value="option3" class="form-check-input">4
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-check-inline">
                                        <label for="radio4" class="form-check-label ">
                                            <input type="radio" id="radio4" name="radio4" value="option3" class="form-check-input">3
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-check-inline">
                                        <label for="radio4" class="form-check-label ">
                                            <input type="radio" id="radio4" name="radio4" value="option3" class="form-check-input">2
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-check-inline">
                                        <label for="radio4" class="form-check-label ">
                                            <input type="radio" id="radio4" name="radio4" value="option3" class="form-check-input">1
                                        </label>
                                    </div>
                                </div>


                            </div>


                        </div>
            </div>

        </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
