<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<head>
  <meta charset="UTF-8">

</head>
<body>
<div layout:fragment="wrapper">
  <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Change Password</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">


                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 <div class="content">
       <div class="animated fadeIn">
<div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <div >
                         <h4>የይለፍ ቃል ህግጋት (Password Rules)</h4>

                     </div>
                         <ul class="navbar-nav my-lg-0">

                            <div class="card-title" style="color: red">
                                   <h5>  <br> <li> - ቢያንስ 8 ፊደላትን ሊይዝ ይገባል (Must be at least 8 characters long)</li> <br>
                                            <li> - ቢያንስ ብዛት 1 ቁጥር (Must contain at least one number)</li> <br>
                                            <li> - ቢያንስ ብዛት 1 ስሞል ሌተር  (Must contain at least lowercase letter)</li> <br>
                                            <li> - ቢያንስ ብዛት 1 ካፒታል ሌተር  (Must contain one uppercase  letter)</li> <br>
                                            <li> - ቢያንስ ብዛት 1 ምልክት  (Must contain one symbol)</li> <br>
                                   </h5>

                                     </div>                  <!-- Search -->
                            </ul>

                    </div>
                    </div>
                    </div>

                <div class="col-8">
                    <div class="card">
                        <div class="card-body">



                        <form th:action="@{/confirmPasswordChange}" th:object="${changePasswordRequest}" method="post">
                               <div th:replace="fragments/messageAlert :: alert(type=${type}, message=${message})"></div>

<!--                            th:if="${firstTime == true }"-->

            <div  class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                  <span >Please change your system generated password</span>

              </div>
                                <div class="form-group" style="width: 75%">
                                <label>Old Password</label>
                                <br>
                                <input type="password" th:field="*{oldPassword}" class="form-control"
                                       required="required">
                                </div>
                                <br>

                                <div class="form-group" style="width: 75%">
                                <label>New Password</label>
                                <br>
                                <input type="password" id="password" th:field="*{newPassword}" class="form-control"
                                       required="required" minlength="8">
                                <p>

                                </p>
                                </div>
                                <br>

                                <div class="form-group" style="width: 75%">
                                <label>Re-Enter New Password</label>
                                <br>
                                <input type="password" id="confirmPassword" th:field="*{confirmPassword}"
                                       class="form-control" required="required" minlength="8">
                                </div>
                                <br>


                            <div style="float: right">
                                <a  th:href="@{'/home'}" class="btn btn-secondary btn-sm"></i> Cancel</a>
                               <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
                           </div>
                            </form>

                            </div>
                    </div>
                </div>
            </div>

       </div>
 </div>
</div>
</body>
</html>



