<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
     >
<head>
   <title>Login V19</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--===============================================================================================-->
   <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
   <!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="login/vendor/bootstrap/css/bootstrap.min.css">
   <!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
   <!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
   <!--===============================================================================================-->

   <link rel="stylesheet" th:href="@{/assets/login/vendor/bootstrap/css/bootstrap.min.css}" href="../static/login/vendor/bootstrap/css/bootstrap.min.css" />
   <link rel="stylesheet" th:href="@{/assets/login/css/util.css}" href="../static/assets/login/css/util.css" />
   <link rel="stylesheet" th:href="@{/assets/login/css/main.css}" href="../static/assets/login/css/main.css" />
   <!--===============================================================================================-->
   <script>
      $(document).ready(function() {

         var method = $('#options option:selected').val();

         if (method == 'EMAIL') {
            $('#email_div').show();
            $('#phoneNo').hide();
         } else if (method == "MOBILE") {
            $('#email_div').hide();
            $('#phoneNo').show();
         } else {
            $('#email_div').hide();
            $('#phoneNo').hide();
            $('#phoneNumber').removeAttr('required');
            $('#email').removeAttr('required');
         };

         $('#options').change(function() {
            var method = $('#options option:selected').val();

            if (method == 'EMAIL') {

               $('#phoneNumber').removeAttr('required');
               $('#email').attr("required", true);
               $('#email_div').show();
               $('#phoneNo').hide();
            } else if (method == "MOBILE") {
               $('#email_div').hide();
               $('#phoneNo').show();
               $('#email').removeAttr('required');
               $('#phoneNumber').attr("required", true);
            } else {
               $('#email_div').hide();
               $('#phoneNo').hide();
               $('#phoneNumber').removeAttr('required');
               $('#email').removeAttr('required');
            }

         });
      });
   </script>

</head>
<body>

<div class="limiter">
   <div class="container-login100">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">

         <form class="login100-form validate-form" th:action="@{/reset}" method="post" id="forgot-password">
					<span class="login100-form-title p-b-33">
						forgot password
					</span>

            <div class="alert alert-dismissable alert-danger" th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
               <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
               <span th:text="${errorMsg}">!</span>
            </div>
            <div class="wrap-input100 validate-input" style="margin-bottom: 20px;">
               <select class="input100" type="text" id="options" name="options" required="required" >
                  <option value="">Choose how to reset account</option>
                  <option value="ADMIN">Contact Admin</option>
                  <option value="EMAIL">Use Email</option>
                  <option value="MOBILE">Use Mobile Number</option>
               </select>

               <span class="focus-input100"></span>
            </div>
            <div id="phoneNo">
               <span class="text-black">Phone Number</span>
               <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required" style="margin-bottom: 10px;">
                  <input class="input100" type="text"  id="phoneNumber" name="phoneNumber" required="required"/>
                  <span class="focus-input100"></span>
               </div>
            </div>
            <div id="email_div">
               <span class="text-black">Email</span>
               <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required" style="margin-bottom: 10px;">
                  <input class="input100" type="password" id="email" name="email" required="required"/>
                  <span class="focus-input100"></span>
               </div>
            </div>
            <div class="container-login100-form-btn">
               <button class="btn-success btn-lg btn-block">
                  Login
               </button>
            </div>
         </form>
      </div>
   </div>
</div>



<!--===============================================================================================-->
<script th:src="@{/assets/login/vendor/jquery/jquery-3.2.1.min.js}" href="../static/assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<script th:src="@{/assets/login/vendor/animsition/js/animsition.min.js}" href="../static/assets/login/vendor/animsition/js/animsition.min.js"></script>
<script th:src="@{/assets/login/vendor/bootstrap/js/popper.js}" href="../static/assets/login/vendor/bootstrap/js/popper.js"></script>
<script th:src="@{/assets/login/vendor/bootstrap/js/bootstrap.min.js}" href="../static/assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<script th:src="@{/assets/login/js/main.js}" href="../static/assets/login/js/main.js"></script>



</body>
</html>