<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div layout:fragment="wrapper">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Manage Role</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">


                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <span>Dire Dawa University (DDU) is found in the industrial and commercial city of Dire Dawa, which is located at 515 km east of Addis Ababa. DDU is a young higher institution, established and started its teaching and learning activities in the 2007 academic year.

The establishment of the university is in line with Ethiopian Governments willingness and determination to expand higher education coverage and ensure its equitable distribution across the country in order to produce competent human resources and research outputs to meet the national development policy and poverty reduction strategy.

The actual operation of the university was begun by enrolling 754 regular students in three faculties (Faculty of Natural Science and Mathematics, Faculty of Social Science and language and Faculty of Business and Economics) in 13 different undergraduate academic programs with 90 teachers and 103 administrative support staff operating with limited facilities. In 2008, the satellite campus of Haramaya University was merged with Dire Dawa University, which gave an opportunity to gain more buildings and workshops.

Today, in 2018 academic year, just after eleven years of existence, DDU has one Institute of Technology and Five College(College of Natural & Computational Science, College of Business & Economics, College of Social Sciences & Humanities, College of Law and College of Medicine and Health Science)containing 33 different academic programs. The enrolment has grown to 12,500regular students in 39 different academic programs. It has also 7971 students in the evening, weekend and summer in different programs.

Dire Dawa Institute of Technology is one of the ten institutes started in Ethiopia to support the realization of the transition towards the industry-led economy. The University is contributing to the national policy of 70:30 (Engineering &Natural Science to Social Sciences) program mix through prioritization of science and technology. Currently, the university has 1177 Academic Staff on duty, of which 834 are on duty, the rest 343 are on full study leave for their second and third degrees. Of the staff on duty, 28 % are first-degree holders, and 72% are second-degree and above holders.

In addition, the University has been operating with 1143 permanent administrative staff, 28 contract-based administrative staff, and 51 technical staff during the 2007/18 academic year.</span>
</div>
<div layout:fragment="footer-script">
<script th:src="@{/assets/login/js/main.js}" href="../static/assets/login/js/main.js"></script>
</div></div>
                    </body>
</html>
